page-update-pic {

    ion-title {
        //text-align: center;

    }
    .avatar{
        text-align: center;
        img {            
            border-radius: 20%;
            width: 50%;

        }
    }
    

}
